{{- if and .Values.enabled .Values.auth.enabled }}
{{- $secretName := include "redis.secretName" . }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $password := "" }}
{{- if and $existingSecret $existingSecret.data (index $existingSecret.data "password") }}
{{- $password = index $existingSecret.data "password" | b64dec }}
{{- else }}
{{- $password = randAlphaNum 24 }}
{{- end }}
# Redis password secret
# Uses lookup to preserve existing password on helm upgrade
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "redis.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ $password | quote }}
{{- end }}
