{{- if .Values.enabled }}
{{- $secretName := include "mariadb.secretName" . }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $rootPassword := "" }}
{{- $userPassword := "" }}
{{- if and $existingSecret $existingSecret.data (index $existingSecret.data "root-password") }}
{{- $rootPassword = index $existingSecret.data "root-password" | b64dec }}
{{- else }}
{{- $rootPassword = randAlphaNum 24 }}
{{- end }}
{{- if and $existingSecret $existingSecret.data (index $existingSecret.data "user-password") }}
{{- $userPassword = index $existingSecret.data "user-password" | b64dec }}
{{- else }}
{{- $userPassword = randAlphaNum 24 }}
{{- end }}
# MariaDB password secret
# Uses lookup to preserve existing passwords on helm upgrade
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "mariadb.labels" . | nindent 4 }}
type: Opaque
stringData:
  root-password: {{ $rootPassword | quote }}
  user-password: {{ $userPassword | quote }}
  connection-url: {{ printf "mysql://%s:%s@%s:3306/%s" (.Values.username | default "app") $userPassword (include "mariadb.serviceName" .) (.Values.database | default "app") | quote }}
{{- end }}
